/* -----------------------------------
Template:  Theme Name

NOTE: This is Counter style file. All Counter related style included in this file.

--------------------------------------*/
.single-count h2 {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 36px;
}

.single-count.text-center > span {
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

.fun-fact-area-3 .single-count h2 {
    color: #232323;
}

.fun-fact-area-3 .single-count.text-center > span {
    color: #232323;
}