/* -----------------------------------
Template:  Theme Name

NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
.footer-icon {
    color: #232323;
    font-size: 36px;
    margin-top: 15px;
}

.footer-widget > p {
    color: #232323;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 20px;
}

.widget-social-icon a {
    border: 1px solid #232323;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 12px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
}

.widget-social-icon a:hover {
    background: #232323;
    color: #fff;
}

.copyright > p {
    margin-bottom: 0;
    margin-top: 15px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.footer-widget.text-center {
    margin-top: 9px;
}

/*-----------------------------
Home-2
-------------------------------*/
.footer-area-2 .footer-widget .footer-icon {
    color: #ffffff;
    font-size: 36px;
}

.footer-area-2 .footer-widget > p, .footer-area-2 .footer-widget > p a {
    color: #fff;
}

.footer-area-2 .footer-widget .widget-social-icon a {
    color: #fff;
    border: 1px solid #fff;
}

.footer-area-2 .footer-widget .widget-social-icon a:hover {
    background: #fff none repeat scroll 0 0;
    color: #232323;
}

.footer-area-2 .footer-widget .copyright > p, .footer-area-2 .footer-widget .copyright a {
    color: #fff;
}
