/* -----------------------------------
Template:  Theme Name

NOTE: This is Process style file. All Process related style included in this file.

--------------------------------------*/
.work-process-area .section-title p {
    margin: 0;
}

.single-process.text-center {
    margin-top: 30px;
}

.single-process span {
    font-size: 50px;
    margin-bottom: 30px;
}

.single-process.text-center > h3 {
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.work-process-area .section-title p {
    padding: 0;
    font-size: 14px;
}