/* -----------------------------------
Template:  Theme Name

NOTE: This is Testimonial style file. All Testimonial related style included in this file.

--------------------------------------*/
.single-testimonial {
    padding: 0 205px;
}

.testimonial-info > p {
    font-style: italic;
}

.testimonial-info > span {
    color: #232323;
    font-size: 18px;
    font-weight: 700;
}

.single-testimonial .testimonial-img {
    height: 80px;
    margin: 0 auto 20px;
    width: 80px;
}

.testimonial-area .owl-carousel .owl-dots {
    margin-top: 20px;
    text-align: center;
}

.testimonial-area .owl-carousel .owl-dot {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    border: 1px solid #232323;
    border-radius: 100%;
    height: 10px;
    margin: 0 5px;
    width: 10px;
}

.testimonial-area .owl-carousel .owl-dot.active {
    background: #fff none repeat scroll 0 0;
    height: 12px;
    width: 12px;
}